<div class="container">
    <div class="row">
        <div class="col">
            <!-- <div class="login-container"> -->
                <mat-card>
                <h2>Login</h2>
                <form id="login-form" action="#" method="post">
                    <div class="form-group">
                        <label for="email">Your email <b>*</b></label>
                        <input type="email" id="email" name="email" required placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Your Password <b>*</b></label>
                        <input type="password" id="password" name="password" required placeholder="password">
                    </div>
                    <!-- <button type="submit" class="login-button">Login</button> -->
                    <button  class="btn btn btn-success">Submit</button>
                </form>
            </mat-card>
            <!-- </div> -->
        </div>
        <div class="col">
            <img src="../../../assets/;logistics.webp" class="logis" />
        </div>
    </div>
</div>